@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700;900&family=Roboto:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./globals.css";

body {
  overflow-x: hidden;
}

.mobile-safe-container {
  max-width: 100%;
  overflow-x: hidden;
}

.telegram-safe-bottom {
  padding-bottom: 5rem;
}